<div class="row container mt-4 text-center bg-light">
  <div class="col-3 mg-6">
    <h2 class="p-3 mb-2 bg-secondary text-white-center mt-4 border-primary">Busqueda</h2>
    <hr>
    <ul class="list-group-item">
      <li class="list-group-item-success text-center" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Por País</li>
      <li class="list-group-item-dark text-center" routerLink="capital" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Por capital</li>
      <li class="list-group-item-info text-center" routerLink="region"routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Por región</li>
    </ul>
  </div>
  <div class="col">
<router-outlet></router-outlet>
  </div>
</div>

